<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-left">
        <a href="{{ url_for('index')}}" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Home">Nic West</a>
       </div>
      <div class="col-xs-8 text-right">
        <a href="{{ url_for('cv_display_temp')}}" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Curriculum vitae">CV</a>
        <a href="{{ url_for('view_atom')}}" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Feeds"><i class="fa fa-rss"></i></a>
        <a href="https://twitter.com/west_nic" rel="tooltip" target="_blank" data-toggle="tooltip" data-placement="top" title="@west_nic">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://github.com/nicwest" rel="tooltip" target="_blank" data-toggle="tooltip" data-placement="top" title="Github">
          <i class="fa fa-github"></i>
        </a>
       </div>
    </div>
  </div>
</div>
