{% extends "layout.html" %}
{% block title %}{{ post.title }} - {% endblock %}
{% block content %}


<div class="block-white">
    <div class="blog container">
      <h6 class="info"> posted: <strong>{{ post.date }}</strong> | <a href="{{ url_for('view_markdown', slug=post.slug) }}">MD</a> </h6>
      {{post.content|safe}}
      <h6 class="info"> tags: <strong>{% for tag_pair in post.clean_tags %}
          {% set tag, link = tag_pair %}
          <a href="{{ url_for('view_tag', tag=link) }}">{{tag}}</a>{% if not loop.last %},{% endif %}
        {% endfor %}</strong></h6>
    </div>
</div>

{% include "footer.html" %}
<script src="{{ url_for('static', filename='js/highlight.pack.js')}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
