{% extends "layout.html" %}
{% block title %}{{ post.title }} - {% endblock %}
{% block content %}


<div class="block-white">
    <div class="blog container">
      <h1>Tags</h1>
      <p>
        {% for tag in tags %}
        {% if tag.strong %}<strong>{% endif %}<a href="{{url_for('view_tag', tag=tag.name)}}">{{tag.name}}</a>{% if tag.strong %}</strong>{% endif %} 
        {% endfor %}
      </p>
    </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-left">
        <a href="{{ url_for('index')}}">Nic West</a>
       </div>
      <div class="col-xs-8 text-right">
        <a href="{{ url_for('cv_display_temp')}}">CV</a>
        <a href="https://twitter.com/west_nic" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://github.com/nicwest" target="_blank">
          <i class="fa fa-github"></i>
        </a>
       </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/highlight.pack.js')}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
