{% extends "layout.html" %}
{% block title %}Tags{% endblock %}
{% block content %}


<div class="block-white">
    <div class="blog container">
        <div class="row">
            <div class="col-xs-12">
              <h6 class="info"> <a href="{{ url_for('index') }}">posts</a> | <strong>tags</strong> </h6>
            </div>
        </div>
          <div class="row" style="margin-top:7px;"> 
        {% for link, tag in tags %}
        <div class="col-xs-6 col-sm-2 sans">
          {% if tag.strong %}<strong>{% endif %}<a href="{{url_for('view_tag', tag=link)}}">{{tag.name}}</a>{% if tag.strong %}</strong>{% endif %}  
          </div>
        {% endfor %}
          </div>
    </div>
</div>

{% include "footer.html" %}
<script src="{{ url_for('static', filename='js/highlight.pack.js')}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
